@model IEnumerable<Clinica.Models.Pet>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EspecieId)
                </th>
            </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspecieId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PetId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PetId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PetId })
            </td>
        </tr>
        }

        </table>
        <div>
            <a href="~/Home/Index">Retornar para a home</a>
        </div>
</body>
</html>
